@charset "utf-8";
/* CSS Document */

.debug {
  background-color: yellow;
  padding-left : 100px;
}




/* the hilight of the page */
	#jumbo {
	background-image: url(../img/index1.png);
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 20px;
	}






/* content box*/

.content_box h2, .content_box h3,.content_box h1  {
  color : #197DD5 ;
  font-family:Tahoma ;
	}
	
.content_box {
	
	color:#4C4C4C;
	 font-family:Tahoma ;
	 margin-bottom:10px;
	 font-size:1.8rem;

	}
/* link in content box */
.content_box a {
	font-family: Tahoma, Geneva, sans-serif;
	color: #D94D00;
}
.content_box a:link {
	text-decoration: none;
}
.content_box a:visited {
	text-decoration: none;
}
.content_box a:hover {
	text-decoration: none;
	color: #D94D00;
}
.content_box a:active {
	text-decoration: none;
}

/* navbar */


.navbar-brand strong {
  color : orange;
}
.navbar-brand td {
	color : white;
}
.navbar-brand .slogan {
	font-size: 1.3rem;
	font-style: italic;
	color : #bbb;
	max-width: 100%;
	overflow: visible;
	white-space: nowrap;
}

#navbar a {
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
}
#navbar a:link {
	text-decoration: none;
}
#navbar a:visited {
	text-decoration: none;
}
#navbar a:hover {
	text-decoration: none;
	color: #D94D00;
}
#navbar a:active {
	text-decoration: none;
}


.contact_box {

/*	padding: 30px; */
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right:30px;
	padding-top:1px;
	border-radius: 30px;
    background-color : #d94d00;
    text-align: left;
    width : 90%;
    min-width: 250px;
}

.jjj {
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right:10px;
	padding-top:8px;
	border-radius: 30px;
	 background-color : #d94d00;
	  width : 15%;
	   min-width: 250px;
	   color:white;
	   font-size:24px;
}



/* footer */
#footer { 
		background-color:#4C4C4C;
}
#footer p {
	color : white ;
}

.footer-child {
	padding-top: 20px;
}

.footer-child .glyphicon {
  color : #197DD5;
  font-size : 2.5rem;
  vertical-align: middle;
}


.line {
	border-width: 2px;
	border-bottom-style: solid;
	border-color: #666666;
	margin-bottom: 15px;
}


.news-row .img-responsive {
}
